.Answers {
  margin-top: 40px;
  &__item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
    span {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 15px;
      border: 1px solid #292222;
      background-color: rgb(177, 176, 176);
      position: relative;
      &:before {
        content: "";
        width: 7px;
        height: 19px;
        border: 2px solid;
        border-top-color: transparent;
        border-left-color: transparent;
        position: absolute;
        left: 50%;
        top: 44%;
        transform: translate(-50%, -50%) rotate(45deg);
        opacity: 0;
      }
    }
    &.active {
      span:before {
        opacity: 1;
      }
    }
  }
}